In [3]:
cd ..

/home/jovyan/critical_feature_extraction

In [4]:
%run __init__.py

In [70]:
import os

import warnings
warnings.filterwarnings('ignore')

### Clean the Data:
1. Drop the Acc/Dist_ROC_1 feature because it is only producing 0's
2. Drop all NaN values
3. Create a DataFrame with:
    - count *before* cleaning
    - count *after* cleaning
    - *difference* between the original and new count

In [6]:
#make an empty dict
count_diff = {}

#create a list of the different tickers 
individuals = os.listdir(path = "data/sandp500/individual_stocks_5yr/")

#iterate through all of the csv files
for csv in individuals:
    #only create paths with .csv included in the list
    if '.csv' in csv:
        #create a path with each csv
        csv_path = "data/sandp500/individual_stocks_5yr_TECHNICALS/" + csv
        #create a df with path
        df = pd.read_csv(csv_path)
        #find the original number of observations
        orig_count = len(df.index)
        try:
            #clean the data by dropping the Acc/Dist_ROC_1 feature
            df = df.drop('Acc/Dist_ROC_1', axis=1)
            #drop all NaN values
            df = df.dropna()
            #save the cleaned df to csv in the individual_stocks_5yr_TECHNICALS_clean folder
            df.to_csv(f"data/sandp500/individual_stocks_5yr_TECHNICALS_clean/{csv}")
            #define the new count of the cleaned data 
            new_count = len(df.index)
            #find the difference between the original count and the cleaned count
            diff = orig_count - new_count
            #add the difference, original_count and cleaned_count to the shape_diff dict
            count_diff.update({f'{csv}':
                               {'difference': diff, 
                               'original_count':orig_count, 
                               'cleaned_count':new_count}})
        except:
            print(f"Technical cleaning failed on {csv}")

In [8]:
#create a df from the shape_diff dictionary and transpose it
obs_diff = pd.DataFrame(count_diff).T

In [9]:
#show only the tickers where the original_count is less than 1000
obs_diff[obs_diff['original_count']<1000]

               cleaned_count  difference  original_count
AAL_data.csv             865          61             926
AGN_data.csv             903          71             974
ALLE_data.csv            869          71             940
AVGO_data.csv            326          61             387
BHF_data.csv               0          20              20
BHGE_data.csv              0          28              28
CCI_data.csv             598          71             669
CFG_data.csv             656          71             727
CHTR_data.csv            251          61             312
CSRA_data.csv            367          71             438
DXC_data.csv              31          71             102
EQIX_data.csv            582          61             643
EVHC_data.csv            103          71             174
FTI_data.csv              74          71             145
FTV_data.csv             221          73             294
HLT_data.csv             852          71             923
HPE_data.csv             387          71             458
ICE_data.csv             878          71             949
INFO_data.csv            733          61             794
IRM_data.csv             575          71             646
JCI_data.csv             618          71             689
KHC_data.csv             471          61             532
MDT_data.csv             571          71             642
MNST_data.csv            485          61             546
MYL_data.csv             558          61             619
NAVI_data.csv            776          61             837
NLSN_data.csv            421          71             492
PNR_data.csv             735          71             806
PRGO_data.csv            856          62             918
PYPL_data.csv            471          61             532
QRVO_data.csv            597          61             658
ROP_data.csv             477          61             538
SYF_data.csv             694          71             765
UA_data.csv              278          71             349
WBA_data.csv             598          61             659
WRK_data.csv             467          72             539
XL_data.csv              195          71             266

In [10]:
#show how many tickers have less than 1000 observations 
obs_diff[obs_diff['original_count']<1000].count()

cleaned_count     37
difference        37
original_count    37
dtype: int64